
        table {
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid black;
        }
        th, td, caption {
            border: 1px solid black;
            text-align: center;
        }
        .black-background {
            background-color: black;
            color: white;
        }
    
